body {
 background-color: rgb(0, 0, 0);
  background-image: url('imgEJ5.jpg');
  background-size:20%;      /* La imagen ocupa toda la pantalla */
  background-repeat: no-repeat; /* No se repite */
 
}

table {
  width: 450px;                 /* Ocupa todo el ancho disponible */
  border-collapse: collapse;    /* Quita espacios entre bordes: look moderno */
  margin: 20px auto;            /* Centrada */
  background: white;
  border-radius: 6px;           /* Bordes redondeados */
  overflow: hidden;             /* Para que el borde redondeado afecte todo */
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

th{
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
input[type="number"]{
   background-color: rgb(4, 180, 255);
    color: rgb(255, 255, 255);             /* color del texto */
    padding: 10px ;            /* agranda el botón */
    border-radius: 5px;       /* bordes redondeados */
    border: none;             /* sin borde */
    cursor: pointer;          /* cambia el cursor */
    font-size: 12px;          /* tamaño del texto */
    width: 150px; ;
}

input[type='submit']{
    background-color: rgb(0, 135, 18);
    color: rgb(255, 255, 255);             /* color del texto */
    padding: 10px ;            /* agranda el botón */
    border-radius: 5px;       /* bordes redondeados */
    border: none;             /* sin borde */
    cursor: pointer;          /* cambia el cursor */
    font-size: 12px;          /* tamaño del texto */
    width: 150px; ;
    
    
}
h2{
    background-color: rgb(218, 242, 0);
    width: 350px;
}
h3{
  background-color:aliceblue;
  color: black;
  width: 350px;
}
select{
   background-color: rgb(206, 224, 0);
    color: rgb(0, 0, 0);             /* color del texto */
    padding: 10px ;            /* agranda el botón */
    border-radius: 5px;       /* bordes redondeados */
    border: none;             /* sin borde */
    cursor: pointer;          /* cambia el cursor */
    font-size: 12px;          /* tamaño del texto */
    width: 50px; ;
}